.LatestHeading{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-top: 80px;
}
.hrLine1{
    border: 2px solid orange;
    width:60px;
    margin:0px 0px 40px 0px;
}
.JoshuaPic{
    width:300px;
    height:250px;
   /*  border-radius: 10px 10px 0px 0px; */
    margin:0px 5px 10px 5px;
}
.LatestImg{
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
}
.subHeading{
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 500;
    margin-left: 35px;
    opacity: 0.8;
}
.content{
    font-size: 14px;
    margin: 10px 0px 20px 35px;
    opacity: 0.6;
}
.content1{
    font-weight: 900;
    font-size: 10px;
    margin-left: 35px;
    opacity: 0.6;
}
.content2{
    font-size: 10px;
    opacity: 0.6;
}


@media screen and (min-width:360px) and (max-width:640px) {
    .LatestHeading{
        font-size: 30px;
        font-weight: 500;
        letter-spacing: 2px;
    }
    .hrLine1{
        border: 2px solid orange;
        width:60px;
        margin:0px 0px 40px 0px;
    }
    .JoshuaPic{
        width:350px;
        height:300px;
        border-radius: 10px 10px 0px 0px;
        margin:25px 5px 0px 0px;
        position: relative;
        left:80px;
    }
    .LatestImg{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .subHeading{
        font-size: 20px;
        letter-spacing: 2px;
        font-weight: 500;
        opacity: 0.8;
        text-align: right;
    }
    .content{
        font-size: 18px;
        margin: 10px 0px 20px 0px;
        opacity: 0.6;
        position: relative;
        left:40px;
    }
    .content1{
        font-weight: 900;
        font-size: 13px;
       /*  margin-left: 500px; */
        opacity: 0.6;
        text-align: right;
    }
    .content2{
        font-size: 13px;
        opacity: 0.6;
        text-align: center;
    }
    
}