.TopPosts{
    font-size: 25px;
}
.horizontalLine{
    width:100px;
    border:1px solid orange;
    margin-left: 0%;
}
.ads{
    width: 250px;
    height:350px;
    border:1px solid grey;
    text-align: center;
    position: relative;
    left:80px;
}
.text-ads{
    position: inherit;
    top:130px;
}
@media screen and (min-width:360px) and (max-width:640px) {
    .TopPosts{
        font-size: 25px;
    }
    .horizontalLine{
        width:100px;
        border:1px solid orange;
        margin-left: 0%;
    }
    .ads{
        width: 250px;
        height:350px;
        border:1px solid grey;
        text-align: center;
        position: relative;
        left:80px;
    }
    .text-ads{
        position: inherit;
        top:130px;
    }
}